$aqua:#183B4E;
$mostaza:#DDA853;
$light:#F5EEDC;
$dark:#121212;

$text-xxsmall: 1.2em;
$text-xsmall: 1.4em;
$text-small: 1.6em;

$text-regular: 1.8em;

$text-medium: 2em;

$text-large: 2.4em;
$text-xlarge: 2.8em;
$text-xxlarge: 3.2em;